In [408]:
# Import libraries
import pandas as pd
import numpy as np
import glob

# Load one dataset to check constaints
m2007 = pd.read_csv(
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2006.txt?token=GHSAT0AAAAAACWW3VV4VLIGBYI42XW65YPEZ2D6A2Q",
    sep="\t",  # Tab as delimiter
)
m2007

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2006.0,2006.0,All other non-drug and non-alcohol causes,O9,449.0
1,NaN,"Baldwin County, AL",1003.0,2006.0,2006.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0
2,NaN,"Baldwin County, AL",1003.0,2006.0,2006.0,All other alcohol-induced causes,A9,15.0
3,NaN,"Baldwin County, AL",1003.0,2006.0,2006.0,All other non-drug and non-alcohol causes,O9,1613.0
4,NaN,"Barbour County, AL",1005.0,2006.0,2006.0,All other non-drug and non-alcohol causes,O9,284.0
...,...,...,...,...,...,...,...,...
4272,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4273,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4274,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4275,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4276,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
urls = [
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2003.txt?token=GHSAT0AAAAAACWW3VV5P6VL3TCMD4H4OP3KZ2D6HEQ",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2004.txt?token=GHSAT0AAAAAACWW3VV4NXP226CFJMU5N23SZ2D6HXQ",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2005.txt?token=GHSAT0AAAAAACWW3VV52R6QJSFC7AY3Y5XYZ2D6IIA",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2006.txt?token=GHSAT0AAAAAACWW3VV4VLIGBYI42XW65YPEZ2D6A2Q",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2007.txt?token=GHSAT0AAAAAACWW3VV52NAXZ5MT7MGRL3L6Z2D6BWQ",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2008.txt?token=GHSAT0AAAAAACWW3VV4UCC4SDNEXCO3EDGIZ2D6CSQ",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2009.txt?token=GHSAT0AAAAAACWW3VV44BHW7WYBDFUFNPSSZ2D6C7Q",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2010.txt?token=GHSAT0AAAAAACWW3VV4A2GVVXEGJNXXFUOSZ2D6DZQ",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2011.txt?token=GHSAT0AAAAAACWW3VV5TFS3XASF75DMFITUZ2D6ECA",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2012.txt?token=GHSAT0AAAAAACWW3VV54FXII7GK5LFXIAJGZ2D6EJQ",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2013.txt?token=GHSAT0AAAAAACWW3VV5NYWIACTT6A66OXREZ2D6ERA",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2014.txt?token=GHSAT0AAAAAACWW3VV4I3CG2GPPKUXXQ4BKZ2D6E4Q",
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/tursunait-mortality-1/01_Data/01_Raw/Mortality_US_VitalStatistics/2015.txt?token=GHSAT0AAAAAACWW3VV5XDPVYQ64PZRH7RWMZ2D6FEQ",
]

# Initialize a list to hold DataFrames
dataframes = []

for url in urls:
    try:
        # Read the file into a DataFrame
        df = pd.read_csv(url, sep="\t", engine="python", skipfooter=15)
        dataframes.append(df)
    except Exception as e:
        print(f"Error reading file {url}: {e}")

# Combine all DataFrames
merged_mortality = pd.concat(dataframes, ignore_index=True)

# Display a preview of the merged DataFrame
print("Merged DataFrame preview:")
merged_mortality

Merged DataFrame preview:

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,NaN,"Baldwin County, AL",1003,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,NaN,"Baldwin County, AL",1003,2003.0,2003.0,All other alcohol-induced causes,A9,14.0
3,NaN,"Baldwin County, AL",1003,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,NaN,"Barbour County, AL",1005,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...,...
57236,NaN,"Sweetwater County, WY",56037,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,251
57237,NaN,"Teton County, WY",56039,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,95
57238,NaN,"Uinta County, WY",56041,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,142
57239,NaN,"Washakie County, WY",56043,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,81
57240,NaN,"Weston County, WY",56045,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,61

In [410]:
# Summary of the dataset
print(merged_mortality.info())

# Check for missing values
print(merged_mortality.isnull().sum())

# Get basic statistics
print(merged_mortality.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57241 entries, 0 to 57240
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Notes                            0 non-null      float64
 1   County                           57241 non-null  object
 2   County Code                      57241 non-null  int64
 3   Year                             57241 non-null  float64
 4   Year Code                        57241 non-null  float64
 5   Drug/Alcohol Induced Cause       57241 non-null  object
 6   Drug/Alcohol Induced Cause Code  57241 non-null  object
 7   Deaths                           57241 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.5+ MB
None
Notes                              57241
County                                 0
County Code                            0
Year                                   0
Year Code                              0
Drug/Alcohol Induced Cause             0
Drug/Alcohol Induced Cause Code        0
Deaths                                 0
dtype: int64
       Notes   County Code          Year     Year Code
count    0.0  57241.000000  57241.000000  57241.000000
mean     NaN  29895.962457   2009.168306   2009.168306
std      NaN  15386.682684      3.741598      3.741598
min      NaN   1001.000000   2003.000000   2003.000000
25%      NaN  18019.000000   2006.000000   2006.000000
50%      NaN  29161.000000   2009.000000   2009.000000
75%      NaN  42129.000000   2012.000000   2012.000000
max      NaN  56045.000000   2015.000000   2015.000000

In [411]:
print(merged_mortality["County"].nunique())

3132

In [412]:
# Check datatpes
merged_mortality.dtypes

Notes                              float64
County                              object
County Code                          int64
Year                               float64
Year Code                          float64
Drug/Alcohol Induced Cause          object
Drug/Alcohol Induced Cause Code     object
Deaths                              object
dtype: object

In [413]:
merged_mortality["Year Code"] = merged_mortality["Year Code"].astype(int)
merged_mortality["Year"] = merged_mortality["Year"].astype(int)
merged_mortality.dtypes

Notes                              float64
County                              object
County Code                          int64
Year                                 int64
Year Code                            int64
Drug/Alcohol Induced Cause          object
Drug/Alcohol Induced Cause Code     object
Deaths                              object
dtype: object

In [414]:
# Display unique values in the 'Year Code' column
unique_year_codes = merged_mortality["Year Code"].unique()
unique_year_codes.sort()
print("Unique values in 'Year Code':")
print(unique_year_codes)

Unique values in 'Year Code':
[2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]

In [415]:
# Splitting 'County' column into 'County' and 'State'
merged_mortality[["County", "State"]] = merged_mortality["County"].str.rsplit(
    ", ", n=1, expand=True
)

# Check the first few rows to verify
merged_mortality

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State
0,NaN,Autauga County,1001,2003,2003,All other non-drug and non-alcohol causes,O9,397.0,AL
1,NaN,Baldwin County,1003,2003,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,AL
2,NaN,Baldwin County,1003,2003,2003,All other alcohol-induced causes,A9,14.0,AL
3,NaN,Baldwin County,1003,2003,2003,All other non-drug and non-alcohol causes,O9,1479.0,AL
4,NaN,Barbour County,1005,2003,2003,All other non-drug and non-alcohol causes,O9,287.0,AL
...,...,...,...,...,...,...,...,...,...
57236,NaN,Sweetwater County,56037,2015,2015,All other non-drug and non-alcohol causes,O9,251,WY
57237,NaN,Teton County,56039,2015,2015,All other non-drug and non-alcohol causes,O9,95,WY
57238,NaN,Uinta County,56041,2015,2015,All other non-drug and non-alcohol causes,O9,142,WY
57239,NaN,Washakie County,56043,2015,2015,All other non-drug and non-alcohol causes,O9,81,WY
57240,NaN,Weston County,56045,2015,2015,All other non-drug and non-alcohol causes,O9,61,WY

In [416]:
# Drop 'Year Code' and 'Notes' columns
merged_mortality.drop(columns=["Year Code", "Notes"], inplace=True)

# Verify the columns are removed
merged_mortality

,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State
0,Autauga County,1001,2003,All other non-drug and non-alcohol causes,O9,397.0,AL
1,Baldwin County,1003,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,AL
2,Baldwin County,1003,2003,All other alcohol-induced causes,A9,14.0,AL
3,Baldwin County,1003,2003,All other non-drug and non-alcohol causes,O9,1479.0,AL
4,Barbour County,1005,2003,All other non-drug and non-alcohol causes,O9,287.0,AL
...,...,...,...,...,...,...,...
57236,Sweetwater County,56037,2015,All other non-drug and non-alcohol causes,O9,251,WY
57237,Teton County,56039,2015,All other non-drug and non-alcohol causes,O9,95,WY
57238,Uinta County,56041,2015,All other non-drug and non-alcohol causes,O9,142,WY
57239,Washakie County,56043,2015,All other non-drug and non-alcohol causes,O9,81,WY
57240,Weston County,56045,2015,All other non-drug and non-alcohol causes,O9,61,WY

In [417]:
# Specify the desired column order
desired_order = [
    "State",
    "County",
    "County Code",
    "Year",
    "Drug/Alcohol Induced Cause",
    "Drug/Alcohol Induced Cause Code",
    "Deaths",
]
# Reorder columns
merged_mortality = merged_mortality[desired_order]
# Verify the new column order
merged_mortality

,State,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,AL,Autauga County,1001,2003,All other non-drug and non-alcohol causes,O9,397.0
1,AL,Baldwin County,1003,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,AL,Baldwin County,1003,2003,All other alcohol-induced causes,A9,14.0
3,AL,Baldwin County,1003,2003,All other non-drug and non-alcohol causes,O9,1479.0
4,AL,Barbour County,1005,2003,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...
57236,WY,Sweetwater County,56037,2015,All other non-drug and non-alcohol causes,O9,251
57237,WY,Teton County,56039,2015,All other non-drug and non-alcohol causes,O9,95
57238,WY,Uinta County,56041,2015,All other non-drug and non-alcohol causes,O9,142
57239,WY,Washakie County,56043,2015,All other non-drug and non-alcohol causes,O9,81
57240,WY,Weston County,56045,2015,All other non-drug and non-alcohol causes,O9,61

In [418]:
print(merged_mortality["Drug/Alcohol Induced Cause Code"].unique())
print(merged_mortality["Drug/Alcohol Induced Cause"].unique())

['O9' 'D1' 'A9' 'D9' 'D2' 'D4' 'A1' 'D3']
['All other non-drug and non-alcohol causes'
 'Drug poisonings (overdose) Unintentional (X40-X44)'
 'All other alcohol-induced causes' 'All other drug-induced causes'
 'Drug poisonings (overdose) Suicide (X60-X64)'
 'Drug poisonings (overdose) Undetermined (Y10-Y14)'
 'Alcohol poisonings (overdose) (X45, X65, Y15)'
 'Drug poisonings (overdose) Homicide (X85)']

In [419]:
# Drop rows where Drug/Alcohol Induced Cause is 'All other non-drug and non-alcohol causes'
merged_mortality = merged_mortality[
    merged_mortality["Drug/Alcohol Induced Cause Code"] != "O9"
]
# Drop rows where Drug/Alcohol Induced Cause is 'All other alcohol-induced causes'
merged_mortality = merged_mortality[
    merged_mortality["Drug/Alcohol Induced Cause Code"] != "A9"
]
# Drop rows where Drug/Alcohol Induced Cause is 'Alcohol poisonings (overdose) (X45, X65, Y15)'
merged_mortality = merged_mortality[
    merged_mortality["Drug/Alcohol Induced Cause Code"] != "A1"
]
# Drop rows where Drug/Alcohol Induced Cause is 'All other drug-induced causes'
merged_mortality = merged_mortality[
    merged_mortality["Drug/Alcohol Induced Cause Code"] != "D9"
]
# Verify the result
print(merged_mortality["Drug/Alcohol Induced Cause Code"].unique())

['D1' 'D2' 'D4' 'D3']

In [420]:
merged_mortality

,State,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
1,AL,Baldwin County,1003,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
38,AL,Jefferson County,1073,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0
54,AL,Mobile County,1097,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0
78,AK,Anchorage Borough,2020,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,31.0
91,AK,Matanuska-Susitna Borough,2170,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0
...,...,...,...,...,...,...,...
57202,WI,Waukesha County,55133,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,34
57208,WI,Winnebago County,55139,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,22
57218,WY,Fremont County,56013,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,10
57224,WY,Laramie County,56021,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13
57228,WY,Natrona County,56025,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13

In [421]:
print(merged_mortality["Drug/Alcohol Induced Cause Code"].unique())
print(merged_mortality["Drug/Alcohol Induced Cause"].unique())

['D1' 'D2' 'D4' 'D3']
['Drug poisonings (overdose) Unintentional (X40-X44)'
 'Drug poisonings (overdose) Suicide (X60-X64)'
 'Drug poisonings (overdose) Undetermined (Y10-Y14)'
 'Drug poisonings (overdose) Homicide (X85)']

In [422]:
merged_mortality["State"].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC',
       'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'TN', 'TX', 'UT', 'VA', 'WA',
       'WV', 'WI', 'NE', 'VT', 'WY', 'SD', 'ND'], dtype=object)

In [423]:
all_unique_deaths = merged_mortality["Deaths"].unique().tolist()
print(all_unique_deaths)

[10.0, 37.0, 26.0, 31.0, 11.0, 273.0, 63.0, 32.0, 145.0, 14.0, 18.0, 15.0, 96.0, 40.0, 53.0, 66.0, 38.0, 79.0, 616.0, 93.0, 21.0, 19.0, 29.0, 13.0, 152.0, 50.0, 16.0, 28.0, 128.0, 22.0, 111.0, 24.0, 222.0, 65.0, 91.0, 23.0, 45.0, 41.0, 55.0, 42.0, 67.0, 73.0, 33.0, 12.0, 20.0, 97.0, 17.0, 70.0, 90.0, 83.0, 170.0, 60.0, 107.0, 27.0, 114.0, 61.0, 82.0, 175.0, 52.0, 112.0, 48.0, 34.0, 25.0, 62.0, 47.0, 410.0, 46.0, 30.0, 72.0, 86.0, 137.0, 253.0, 99.0, 89.0, 121.0, 117.0, 56.0, 132.0, 49.0, 206.0, 36.0, 44.0, 130.0, 131.0, 205.0, 88.0, 176.0, 57.0, 238.0, 81.0, 54.0, 84.0, 124.0, 244.0, 69.0, 77.0, 58.0, 120.0, 320.0, 113.0, 85.0, 75.0, 542.0, 43.0, 161.0, 140.0, 135.0, 35.0, 225.0, 74.0, 51.0, 87.0, 39.0, 94.0, 190.0, 59.0, 127.0, 142.0, 459.0, 223.0, 160.0, 239.0, 115.0, 129.0, 71.0, 126.0, 76.0, 173.0, 286.0, 92.0, 144.0, 293.0, 108.0, 109.0, 180.0, 346.0, 68.0, 523.0, 98.0, 174.0, 141.0, 228.0, 106.0, 104.0, 224.0, 139.0, 105.0, 469.0, 101.0, 203.0, 118.0, 209.0, 276.0, 136.0, 147.0, 165.0, 116.0, 102.0, 188.0, 356.0, 169.0, 290.0, 189.0, 400.0, 157.0, 563.0, 163.0, 245.0, 103.0, 215.0, 158.0, 125.0, 162.0, 179.0, 705.0, 64.0, 226.0, 143.0, 100.0, 295.0, 285.0, 227.0, 138.0, 168.0, 399.0, 171.0, 348.0, 78.0, 216.0, 411.0, 636.0, 178.0, 159.0, 269.0, 153.0, 231.0, 110.0, 220.0, 202.0, 462.0, 234.0, 251.0, 80.0, 306.0, 198.0, 197.0, 195.0, 326.0, 193.0, 425.0, 212.0, 95.0, 404.0, 572.0, 182.0, 201.0, 277.0, 242.0, 218.0, 119.0, 236.0, 472.0, 123.0, 134.0, 289.0, 167.0, 181.0, 211.0, 353.0, 146.0, 150.0, 432.0, 627.0, 267.0, 200.0, 194.0, 288.0, 149.0, 122.0, 237.0, 446.0, 184.0, 133.0, 151.0, 271.0, 329.0, 155.0, 325.0, 172.0, 343.0, 468.0, 552.0, 213.0, 439.0, 164.0, 196.0, 315.0, 375.0, 191.0, 473.0, 156.0, 561.0, 330.0, 186.0, 450.0, 379.0, 154.0, 229.0, 408.0, 332.0, 456.0, 566.0, 335.0, 545.0, 148.0, 266.0, 262.0, 258.0, 436.0, 297.0, 525.0, 683.0, 270.0, 347.0, 543.0, 183.0, 192.0, 357.0, 351.0, 241.0, 255.0, 199.0, 249.0, 378.0, 208.0, 370.0, 214.0, 538.0, 621.0, 287.0, 345.0, 240.0, 424.0, 331.0, 248.0, 485.0, 230.0, '40', '11', '20', '17', '22', '10', '154', '14', '38', '24', '64', '12', '15', '52', '13', 'Missing', '28', '572', '80', '54', '45', '186', '29', '16', '36', '176', '63', '93', '126', '35', '34', '196', '27', '645', '74', '307', '61', '33', '295', '238', '23', '72', '25', '340', '73', '179', '105', '43', '65', '59', '118', '49', '71', '97', '42', '19', '106', '26', '67', '81', '32', '107', '18', '119', '44', '125', '189', '192', '30', '95', '114', '132', '252', '41', '48', '146', '51', '156', '90', '137', '169', '39', '173', '37', '263', '161', '86', '83', '53', '84', '50', '100', '139', '624', '55', '88', '66', '57', '21', '232', '31', '47', '46', '103', '184', '102', '116', '96', '168', '58', '78', '241', '62', '155', '217', '104', '299', '148', '157', '183', '207', '94', '187', '539', '115', '76', '79', '109', '142', '371', '70', '152', '85', '82', '143', '108', '75', '170', '213', '56', '221', '177', '140', '89', '101', '98', '194', '277', '282', '336', '60', '240', '124', '91', '398', '87', '127', '549', '130', '195', '138', '165', '256', '407', '110']

In [424]:
merged_mortality

,State,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
1,AL,Baldwin County,1003,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
38,AL,Jefferson County,1073,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0
54,AL,Mobile County,1097,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0
78,AK,Anchorage Borough,2020,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,31.0
91,AK,Matanuska-Susitna Borough,2170,2003,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0
...,...,...,...,...,...,...,...
57202,WI,Waukesha County,55133,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,34
57208,WI,Winnebago County,55139,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,22
57218,WY,Fremont County,56013,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,10
57224,WY,Laramie County,56021,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13
57228,WY,Natrona County,56025,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,13

In [425]:
merged_mortality[merged_mortality["Deaths"] == "Missing"]

,State,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
52576,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,Missing
52577,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,Missing
52578,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Homicide (X85),D3,Missing
52579,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,Missing
52585,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,Missing
52586,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,Missing
52587,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Homicide (X85),D3,Missing
52588,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,Missing
52597,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,Missing
52598,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,Missing
52599,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Homicide (X85),D3,Missing
52600,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,Missing
56868,VA,Bedford city,51515,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,Missing
56869,VA,Bedford city,51515,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,Missing
56870,VA,Bedford city,51515,2015,Drug poisonings (overdose) Homicide (X85),D3,Missing
56871,VA,Bedford city,51515,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,Missing
56882,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,Missing
56883,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,Missing
56884,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Homicide (X85),D3,Missing
56885,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,Missing

In [426]:
merged_mortality["Deaths"] = pd.to_numeric(merged_mortality["Deaths"], errors="coerce")
# Check for non-numeric values and missing entries
print("Unique values after conversion:")
print(merged_mortality["Deaths"].unique())

# Count missing values
missing_deaths_count = merged_mortality["Deaths"].isnull().sum()
print(f"Number of missing or invalid death entries: {missing_deaths_count}")
merged_mortality[merged_mortality["Deaths"].isnull()]

Unique values after conversion:
[ 10.  37.  26.  31.  11. 273.  63.  32. 145.  14.  18.  15.  96.  40.
  53.  66.  38.  79. 616.  93.  21.  19.  29.  13. 152.  50.  16.  28.
 128.  22. 111.  24. 222.  65.  91.  23.  45.  41.  55.  42.  67.  73.
  33.  12.  20.  97.  17.  70.  90.  83. 170.  60. 107.  27. 114.  61.
  82. 175.  52. 112.  48.  34.  25.  62.  47. 410.  46.  30.  72.  86.
 137. 253.  99.  89. 121. 117.  56. 132.  49. 206.  36.  44. 130. 131.
 205.  88. 176.  57. 238.  81.  54.  84. 124. 244.  69.  77.  58. 120.
 320. 113.  85.  75. 542.  43. 161. 140. 135.  35. 225.  74.  51.  87.
  39.  94. 190.  59. 127. 142. 459. 223. 160. 239. 115. 129.  71. 126.
  76. 173. 286.  92. 144. 293. 108. 109. 180. 346.  68. 523.  98. 174.
 141. 228. 106. 104. 224. 139. 105. 469. 101. 203. 118. 209. 276. 136.
 147. 165. 116. 102. 188. 356. 169. 290. 189. 400. 157. 563. 163. 245.
 103. 215. 158. 125. 162. 179. 705.  64. 226. 143. 100. 295. 285. 227.
 138. 168. 399. 171. 348.  78. 216. 411. 636. 178. 159. 269. 153. 231.
 110. 220. 202. 462. 234. 251.  80. 306. 198. 197. 195. 326. 193. 425.
 212.  95. 404. 572. 182. 201. 277. 242. 218. 119. 236. 472. 123. 134.
 289. 167. 181. 211. 353. 146. 150. 432. 627. 267. 200. 194. 288. 149.
 122. 237. 446. 184. 133. 151. 271. 329. 155. 325. 172. 343. 468. 552.
 213. 439. 164. 196. 315. 375. 191. 473. 156. 561. 330. 186. 450. 379.
 154. 229. 408. 332. 456. 566. 335. 545. 148. 266. 262. 258. 436. 297.
 525. 683. 270. 347. 543. 183. 192. 357. 351. 241. 255. 199. 249. 378.
 208. 370. 214. 538. 621. 287. 345. 240. 424. 331. 248. 485. 230.  nan
 645. 307. 340. 252. 263. 624. 232. 217. 299. 207. 187. 539. 371. 221.
 177. 282. 336. 398. 549. 256. 407.]
Number of missing or invalid death entries: 20

,State,County,County Code,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
52576,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN
52577,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN
52578,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Homicide (X85),D3,NaN
52579,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN
52585,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN
52586,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN
52587,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Homicide (X85),D3,NaN
52588,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN
52597,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN
52598,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN
52599,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Homicide (X85),D3,NaN
52600,AK,Wrangell-Petersburg Census Area,2280,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN
56868,VA,Bedford city,51515,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN
56869,VA,Bedford city,51515,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN
56870,VA,Bedford city,51515,2015,Drug poisonings (overdose) Homicide (X85),D3,NaN
56871,VA,Bedford city,51515,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN
56882,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN
56883,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN
56884,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Homicide (X85),D3,NaN
56885,VA,Clifton Forge city,51560,2015,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN

In [ ]:
# Drop columns for Drug/Alcohol Induced Cause Drug/Alcohol Induced Cause Code
merged_mortality.drop(
    columns=["Drug/Alcohol Induced Cause", "Drug/Alcohol Induced Cause Code"],
    inplace=True,
)
merged_mortality
merged_mortality.to_csv("all_states_mortality.csv", index=False)

print("Data saved to 'all_merged_mortality.csv'")

Data saved to 'all_merged_mortality.csv'

In [428]:
# Check if the
merged_mortality[merged_mortality["Deaths"].isnull()]

,State,County,County Code,Year,Deaths
52576,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,NaN
52577,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,NaN
52578,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,NaN
52579,AK,Prince of Wales-Outer Ketchikan Census Area,2201,2015,NaN
52585,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,NaN
52586,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,NaN
52587,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,NaN
52588,AK,Skagway-Hoonah-Angoon Census Area,2232,2015,NaN
52597,AK,Wrangell-Petersburg Census Area,2280,2015,NaN
52598,AK,Wrangell-Petersburg Census Area,2280,2015,NaN
52599,AK,Wrangell-Petersburg Census Area,2280,2015,NaN
52600,AK,Wrangell-Petersburg Census Area,2280,2015,NaN
56868,VA,Bedford city,51515,2015,NaN
56869,VA,Bedford city,51515,2015,NaN
56870,VA,Bedford city,51515,2015,NaN
56871,VA,Bedford city,51515,2015,NaN
56882,VA,Clifton Forge city,51560,2015,NaN
56883,VA,Clifton Forge city,51560,2015,NaN
56884,VA,Clifton Forge city,51560,2015,NaN
56885,VA,Clifton Forge city,51560,2015,NaN

In [429]:
merged_mortality["State"] = merged_mortality["State"].astype(str)

In [430]:
merged_mortality = merged_mortality[
    merged_mortality["State"].isin(["FL", "WA", "GA", "NC", "SC", "CO", "OR", "MT"])
]
merged_mortality

      State           County  County Code  Year  Deaths
378      CO     Adams County         8001  2003    32.0
379      CO     Adams County         8001  2003    10.0
383      CO  Arapahoe County         8005  2003    33.0
384      CO  Arapahoe County         8005  2003    12.0
390      CO   Boulder County         8013  2003    20.0
...     ...              ...          ...   ...     ...
57005    WA   Spokane County        53063  2015    74.0
57006    WA   Spokane County        53063  2015    18.0
57010    WA  Thurston County        53067  2015    26.0
57016    WA   Whatcom County        53073  2015    23.0
57020    WA    Yakima County        53077  2015    26.0

[2291 rows x 5 columns]

In [431]:
merged_mortality = (
    merged_mortality.groupby(["State", "County", "County Code", "Year"])
    .sum()
    .reset_index()
)
merged_mortality

     State         County  County Code  Year  Deaths
0       CO   Adams County         8001  2003    42.0
1       CO   Adams County         8001  2004    46.0
2       CO   Adams County         8001  2005    63.0
3       CO   Adams County         8001  2006    62.0
4       CO   Adams County         8001  2007    70.0
...    ...            ...          ...   ...     ...
1823    WA  Yakima County        53077  2011    14.0
1824    WA  Yakima County        53077  2012    25.0
1825    WA  Yakima County        53077  2013    14.0
1826    WA  Yakima County        53077  2014    23.0
1827    WA  Yakima County        53077  2015    26.0

[1828 rows x 5 columns]

In [432]:
merged_mortality["Deaths"] = merged_mortality["Deaths"].astype(int)
merged_mortality["County"] = merged_mortality["County"].str.upper()
# Rename a column
merged_mortality.rename(columns={"County Code": "County_Code"}, inplace=True)
# Convert all column names to uppercase
merged_mortality.columns = merged_mortality.columns.str.upper()
merged_mortality["COUNTY"].nunique()

200

In [ ]:
merged_mortality.to_csv("controls_merged_mortality.csv", index=False)

print("Data saved to 'controls_merged_mortality.csv'")

Data saved to 'controls_merged_mortality_2007_2015.csv'

In [434]:
population_data = pd.read_csv(
    "https://raw.githubusercontent.com/MIDS-at-Duke/opioids-2024-optoid-drug-mortality-group5/refs/heads/main/01_Data/03_Results/POPULATION_TRANSPOSE_1122.csv?token=GHSAT0AAAAAACWW3VV5BPNRAJE7QJCYG5UGZ2D4OPQ"
)
# Rename a column
population_data.rename(columns={"COUNTY CODE": "COUNTY_CODE"}, inplace=True)
population_data

       COUNTY_CODE STATE_NAME                COUNTY STATE  YEAR  POPULATION
0             1001    ALABAMA        AUTAUGA COUNTY    AL  2000       44021
1             1001    ALABAMA        AUTAUGA COUNTY    AL  2001       44889
2             1001    ALABAMA        AUTAUGA COUNTY    AL  2002       45909
3             1001    ALABAMA        AUTAUGA COUNTY    AL  2003       46800
4             1001    ALABAMA        AUTAUGA COUNTY    AL  2004       48366
...            ...        ...                   ...   ...   ...         ...
66082         2158     ALASKA  KUSILVAK CENSUS AREA    AK  2016        8201
66083         2158     ALASKA  KUSILVAK CENSUS AREA    AK  2017        8180
66084         2158     ALASKA  KUSILVAK CENSUS AREA    AK  2018        8247
66085         2158     ALASKA  KUSILVAK CENSUS AREA    AK  2019        8349
66086         2158     ALASKA  KUSILVAK CENSUS AREA    AK  2020        8384

[66087 rows x 6 columns]

In [435]:
# Summary of the dataset
print(population_data.info())

# Check for missing values
print(population_data.isnull().sum())

# Get basic statistics
print(population_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66087 entries, 0 to 66086
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COUNTY_CODE  66087 non-null  int64
 1   STATE_NAME   66087 non-null  object
 2   COUNTY       66087 non-null  object
 3   STATE        66087 non-null  object
 4   YEAR         66087 non-null  int64
 5   POPULATION   66087 non-null  int64
dtypes: int64(3), object(3)
memory usage: 3.0+ MB
None
COUNTY_CODE    0
STATE_NAME     0
COUNTY         0
STATE          0
YEAR           0
POPULATION     0
dtype: int64
        COUNTY_CODE          YEAR    POPULATION
count  66087.000000  66087.000000  6.608700e+04
mean   30368.430887   2010.000000  9.757716e+04
std    15180.511883      6.055347  3.138273e+05
min     1001.000000   2000.000000  0.000000e+00
25%    18173.000000   2005.000000  1.100350e+04
50%    29175.000000   2010.000000  2.548400e+04
75%    45083.000000   2015.000000  6.581650e+04
max    56045.000000   2020.000000  1.009486e+07

In [436]:
population_data = population_data[
    population_data["YEAR"].isin(
        [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
    )
]
population_data["COUNTY_CODE"].nunique()

3147

In [437]:
population_data = population_data[
    population_data["STATE"].isin(["FL", "WA", "GA", "NC", "SC", "CO", "OR", "MT"])
]
population_data["COUNTY_CODE"].nunique()

567

In [438]:
population_data.dtypes

COUNTY_CODE     int64
STATE_NAME     object
COUNTY         object
STATE          object
YEAR            int64
POPULATION      int64
dtype: object

In [439]:
combined_data = pd.merge(
    population_data,  # Population DataFrame
    merged_mortality,  # Mortality DataFrame
    on=["COUNTY_CODE", "YEAR"],  # Common columns for merging
    how="right",  # Outer join to capture all rows
    indicator=True,  # Add an indicator column to see match status
    suffixes=("_pop", "_mort"),  # Suffixes to differentiate COUNTY columns
)

# Display merged data with the indicator column
combined_data

,COUNTY_CODE,STATE_NAME,COUNTY_pop,STATE_pop,YEAR,POPULATION,STATE_mort,COUNTY_mort,DEATHS,_merge
0,8001,COLORADO,ADAMS COUNTY,CO,2003,377464,CO,ADAMS COUNTY,42,both
1,8001,COLORADO,ADAMS COUNTY,CO,2004,384809,CO,ADAMS COUNTY,46,both
2,8001,COLORADO,ADAMS COUNTY,CO,2005,395146,CO,ADAMS COUNTY,63,both
3,8001,COLORADO,ADAMS COUNTY,CO,2006,406575,CO,ADAMS COUNTY,62,both
4,8001,COLORADO,ADAMS COUNTY,CO,2007,415746,CO,ADAMS COUNTY,70,both
...,...,...,...,...,...,...,...,...,...,...
1823,53077,WASHINGTON,YAKIMA COUNTY,WA,2011,245899,WA,YAKIMA COUNTY,14,both
1824,53077,WASHINGTON,YAKIMA COUNTY,WA,2012,245899,WA,YAKIMA COUNTY,25,both
1825,53077,WASHINGTON,YAKIMA COUNTY,WA,2013,246064,WA,YAKIMA COUNTY,14,both
1826,53077,WASHINGTON,YAKIMA COUNTY,WA,2014,246395,WA,YAKIMA COUNTY,23,both
1827,53077,WASHINGTON,YAKIMA COUNTY,WA,2015,246748,WA,YAKIMA COUNTY,26,both

In [440]:
# Identify mismatched COUNTY names
mismatched_counties = combined_data[
    combined_data["COUNTY_pop"].str.lower() != combined_data["COUNTY_mort"].str.lower()
]

print("Mismatched counties:")
print(
    mismatched_counties[
        ["COUNTY_CODE", "COUNTY_pop", "COUNTY_mort", "STATE_pop", "STATE_mort"]
    ]
)

Mismatched counties:
Empty DataFrame
Columns: [COUNTY_CODE, COUNTY_pop, COUNTY_mort, STATE_pop, STATE_mort]
Index: []

In [441]:
# Summary of the merge result
print(combined_data["_merge"].value_counts())

_merge
both          1828
left_only        0
right_only       0
Name: count, dtype: int64

In [442]:
combined_data[combined_data._merge != "both"]

Empty DataFrame
Columns: [COUNTY_CODE, STATE_NAME, COUNTY_pop, STATE_pop, YEAR, POPULATION, STATE_mort, COUNTY_mort, DEATHS, _merge]
Index: []

In [443]:
combined_data
combined_data.drop(
    columns=["STATE_mort", "COUNTY_mort", "_merge"],
    inplace=True,
)
combined_data.rename(
    columns={"COUNTY_pop": "COUNTY", "STATE_pop": "STATE"}, inplace=True
)
combined_data

      COUNTY_CODE  STATE_NAME         COUNTY STATE  YEAR  POPULATION  DEATHS
0            8001    COLORADO   ADAMS COUNTY    CO  2003      377464      42
1            8001    COLORADO   ADAMS COUNTY    CO  2004      384809      46
2            8001    COLORADO   ADAMS COUNTY    CO  2005      395146      63
3            8001    COLORADO   ADAMS COUNTY    CO  2006      406575      62
4            8001    COLORADO   ADAMS COUNTY    CO  2007      415746      70
...           ...         ...            ...   ...   ...         ...     ...
1823        53077  WASHINGTON  YAKIMA COUNTY    WA  2011      245899      14
1824        53077  WASHINGTON  YAKIMA COUNTY    WA  2012      245899      25
1825        53077  WASHINGTON  YAKIMA COUNTY    WA  2013      246064      14
1826        53077  WASHINGTON  YAKIMA COUNTY    WA  2014      246395      23
1827        53077  WASHINGTON  YAKIMA COUNTY    WA  2015      246748      26

[1828 rows x 7 columns]

In [444]:
# Convert combined_data to a DataFrame
combined_data = pd.DataFrame(combined_data)

# Reorder columns
desired_order = [
    "STATE_NAME",
    "STATE",
    "COUNTY",
    "COUNTY_CODE",
    "YEAR",
    "POPULATION",
    "DEATHS",
]
combined_data = combined_data[desired_order]

combined_data

      STATE_NAME STATE         COUNTY  COUNTY_CODE  YEAR  POPULATION  DEATHS
0       COLORADO    CO   ADAMS COUNTY         8001  2003      377464      42
1       COLORADO    CO   ADAMS COUNTY         8001  2004      384809      46
2       COLORADO    CO   ADAMS COUNTY         8001  2005      395146      63
3       COLORADO    CO   ADAMS COUNTY         8001  2006      406575      62
4       COLORADO    CO   ADAMS COUNTY         8001  2007      415746      70
...          ...   ...            ...          ...   ...         ...     ...
1823  WASHINGTON    WA  YAKIMA COUNTY        53077  2011      245899      14
1824  WASHINGTON    WA  YAKIMA COUNTY        53077  2012      245899      25
1825  WASHINGTON    WA  YAKIMA COUNTY        53077  2013      246064      14
1826  WASHINGTON    WA  YAKIMA COUNTY        53077  2014      246395      23
1827  WASHINGTON    WA  YAKIMA COUNTY        53077  2015      246748      26

[1828 rows x 7 columns]

In [445]:
combined_data["DEATHS"].isnull().sum()

0

In [446]:
combined_data.to_csv("mortality_population.csv", index=False)

In [447]:
combined_data

      STATE_NAME STATE         COUNTY  COUNTY_CODE  YEAR  POPULATION  DEATHS
0       COLORADO    CO   ADAMS COUNTY         8001  2003      377464      42
1       COLORADO    CO   ADAMS COUNTY         8001  2004      384809      46
2       COLORADO    CO   ADAMS COUNTY         8001  2005      395146      63
3       COLORADO    CO   ADAMS COUNTY         8001  2006      406575      62
4       COLORADO    CO   ADAMS COUNTY         8001  2007      415746      70
...          ...   ...            ...          ...   ...         ...     ...
1823  WASHINGTON    WA  YAKIMA COUNTY        53077  2011      245899      14
1824  WASHINGTON    WA  YAKIMA COUNTY        53077  2012      245899      25
1825  WASHINGTON    WA  YAKIMA COUNTY        53077  2013      246064      14
1826  WASHINGTON    WA  YAKIMA COUNTY        53077  2014      246395      23
1827  WASHINGTON    WA  YAKIMA COUNTY        53077  2015      246748      26

[1828 rows x 7 columns]

In [448]:
# Group by STATE_NAME, STATE, and YEAR, and list unique counties
counties_per_state_year = (
    combined_data.groupby(["STATE_NAME", "STATE", "YEAR"])["COUNTY"]
    .unique()
    .reset_index(name="Counties_List")
)

# Display the result
counties_per_state_year

     STATE_NAME STATE  YEAR                                      Counties_List
0      COLORADO    CO  2003  [ADAMS COUNTY, ARAPAHOE COUNTY, BOULDER COUNTY...
1      COLORADO    CO  2004  [ADAMS COUNTY, ARAPAHOE COUNTY, BOULDER COUNTY...
2      COLORADO    CO  2005  [ADAMS COUNTY, ARAPAHOE COUNTY, BOULDER COUNTY...
3      COLORADO    CO  2006  [ADAMS COUNTY, ARAPAHOE COUNTY, BOULDER COUNTY...
4      COLORADO    CO  2007  [ADAMS COUNTY, ARAPAHOE COUNTY, BOULDER COUNTY...
..          ...   ...   ...                                                ...
98   WASHINGTON    WA  2011  [BENTON COUNTY, CHELAN COUNTY, CLARK COUNTY, C...
99   WASHINGTON    WA  2012  [BENTON COUNTY, CLALLAM COUNTY, CLARK COUNTY, ...
100  WASHINGTON    WA  2013  [BENTON COUNTY, CLALLAM COUNTY, CLARK COUNTY, ...
101  WASHINGTON    WA  2014  [BENTON COUNTY, CLARK COUNTY, COWLITZ COUNTY, ...
102  WASHINGTON    WA  2015  [BENTON COUNTY, CLALLAM COUNTY, CLARK COUNTY, ...

[103 rows x 4 columns]